<?xml version="1.0"?>
<config>
  <modules>
    <Magebuzz_Manufacturer>
      <version>0.1.6</version>
    </Magebuzz_Manufacturer>
  </modules>
  <frontend>
    <routers>
      <manufacturer>
        <use>standard</use>
        <args>
          <module>Magebuzz_Manufacturer</module>
          <frontName>manufacturer</frontName>
        </args>
      </manufacturer>
    </routers>
    <layout>
      <updates>
        <manufacturer>
          <file>manufacturer.xml</file>
        </manufacturer>
      </updates>
    </layout>
    <events>
      <page_block_html_topmenu_gethtml_before>
        <observers>
          <topmenu>
            <type>singleton</type>
            <class>Magebuzz_Manufacturer_Model_Observer</class>
            <method>page_block_html_topmenu_gethtml_before</method>
          </topmenu>
        </observers>
      </page_block_html_topmenu_gethtml_before>
    </events>
  </frontend>
  <admin>
    <routers>
      <manufacturer>
        <use>admin</use>
        <args>
          <module>Magebuzz_Manufacturer</module>
          <frontName>manufacturer</frontName>
        </args>
      </manufacturer>
    </routers>
  </admin>
  <adminhtml>
    <layout>
      <updates>
        <manufacturer>
          <file>manufacturer.xml</file>
        </manufacturer>
      </updates>
    </layout>
  </adminhtml>
  <global>
    <events>
      <controller_front_init_routers>
        <observers>
          <manufacturer>
            <type>singleton</type>
            <class>Magebuzz_Manufacturer_Controller_Router</class>
            <method>initControllerRouters</method>
          </manufacturer>
        </observers>
      </controller_front_init_routers>
    </events>
    <models>
      <manufacturer>
        <class>Magebuzz_Manufacturer_Model</class>
        <resourceModel>manufacturer_mysql4</resourceModel>
      </manufacturer>
      <manufacturer_mysql4>
        <class>Magebuzz_Manufacturer_Model_Mysql4</class>
        <entities>
          <manufacturer>
            <table>manufacturer</table>
          </manufacturer>
          <manufacturer_store>
            <table>manufacturer_store</table>
          </manufacturer_store>
        </entities>
      </manufacturer_mysql4>
    </models>
    <resources>
      <manufacturer_setup>
        <setup>
          <module>Magebuzz_Manufacturer</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </manufacturer_setup>
      <manufacturer_write>
        <connection>
          <use>core_write</use>
        </connection>
      </manufacturer_write>
      <manufacturer_read>
        <connection>
          <use>core_read</use>
        </connection>
      </manufacturer_read>
    </resources>
    <blocks>
      <manufacturer>
        <class>Magebuzz_Manufacturer_Block</class>
      </manufacturer>
      <page>
        <rewrite>
          <html_topmenu>Magebuzz_Manufacturer_Block_Page_Html_Topmenu</html_topmenu>
        </rewrite>
      </page>
    </blocks>
    <helpers>
      <manufacturer>
        <class>Magebuzz_Manufacturer_Helper</class>
      </manufacturer>
    </helpers>
  </global>
  <default>
    <manufacturer>
      <general>
        <top_link_url>1</top_link_url>
        <alphabet_sorting>1</alphabet_sorting>
        <group_alphabet>0</group_alphabet>
        <show_featured_manufacturer>0</show_featured_manufacturer>
        <show_manufacturer_in_product_page>0</show_manufacturer_in_product_page>
        <enable_left_nav>1</enable_left_nav>
      </general>
      <configfield>
        <text_attribute_code>manufacturer</text_attribute_code>
        <text_manufacturer_lable>Manufacturer</text_manufacturer_lable>
        <text_featured_manufacturer_lable>Featured Manufacturers</text_featured_manufacturer_lable>
        <text_all_manufacturer_lable>All Manufacturers</text_all_manufacturer_lable>
        <text_router>manufacturer</text_router>
      </configfield>
    </manufacturer>
  </default>
</config>